/* root styles */
:root {
  --highlight-color: #013bed;
  --primary-color: #020836;
  --secondary-color: #fff4e3;
  --white-color: #ebeef4;
  --gradient: linear-gradient(
    90deg,
    rgba(1, 59, 237, 0.63) 0%,
    rgba(247, 180, 54, 0.65) 100%
  );
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
}

p {
  font-weight: 300;
  line-height: 1.5;
}
/* header */

header {
  z-index: 1;
}

.nav-bar {
  background-color: var(--white-color);

  width: max-content;
}

/* ADD PADDING ON A TAG SO ITS MORE CLICKABLE */
.nav-bar ul {
  display: flex;
  justify-content: space-between;
  font-size: clamp(1rem, 1.25vw, 2rem);
  gap: 0.5rem;
  /* padding: 1rem; */
}
.nav-bar ul li {
  display: inline;
}

.nav-bar ul li:nth-child(3) {
  color: var(--highlight-color);
}

.nav-bar ul li:hover {
  cursor: pointer;
  opacity: 0.75;
}

.nav-bar li a {
  padding: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:focus {
  outline: 1px dotted var(--highlight-color);
}

a:active {
  background-color: var(--highlight-color);
}
.nav-bar ul li:nth-child(3):active {
  color: var(--white-color);
}

body {
  position: relative;
}

header {
  position: absolute;
  top: 2%;
  right: 5%;
}

/* main sections */

.landing-section {
  position: relative;
  min-height: 100vh;
  background-image: url("/assets/gradient-img-v3.png");
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.5rem;

  width: 100%;
}

.landing-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 90rem;
  margin-bottom: 2.75rem;

  border: 1px solid;
}

.title-info {
  width: max-content;
}

.span-p {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: 100;
  line-height: normal;
}

h1 {
  display: flex;
  flex-direction: column;
}

/* hand wave animation */

/* hand waving css referenced from
https://codepen.io/jakejarvis/pen/pBZWZw
*/
.wave {
  animation-name: waving;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  90% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.title-container {
  display: flex;
  flex-direction: column;
}

.name-h1 {
  display: inline-block;
  font-family: "Reenie Beanie", cursive;
  color: var(--highlight-color);
  font-size: 4.5rem;

  font-size: clamp(4.5rem, 7vw, 8rem);
}

.landing-info h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.25rem;

  font-size: clamp(1.25rem, 3vw, 2rem);
}

.title-info .span-p,
.title-info .span-p,
.title-info .span-p {
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  width: max-content;
  background: rgba(235, 238, 244, 0.85);
}

.landing-arrow {
  background: rgba(235, 238, 244, 0.85);
  align-self: flex-end;
  width: 2.5rem;
}

/* about-section */

.about-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.5rem;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 31.25rem;
}

.about-info h2,
.work-info h2 {
  font-size: 3rem;
  color: var(--highlight-color);
  margin: 1.5rem 0;
}

.about-section img {
  width: 100%;
}
table {
  margin: 2rem 0;
}

table,
tbody,
tr,
td {
  border: 3px solid #03369c;
  border-collapse: collapse;
  border-top: none;
  color: var(--primary-color);
}

table,
tr,
tbody {
  border-left: none;
  border-right: none;
}
td:nth-of-type(1) {
  border-left: none;
}

td:nth-of-type(4) {
  border-right: none;
}

td {
  padding: 2rem 1rem 0.5rem;
  text-align: center;
  filter: brightness(0) saturate(100%) invert(10%) sepia(81%) saturate(7487%)
    hue-rotate(230deg) brightness(97%) contrast(105%);
}

table {
  max-width: 25rem;
}

td img {
  max-width: 3.125rem;
}

/* works section */

.works-section {
  min-height: 100vh;
  padding: 1.5rem;
}

.works-section h3 {
  font-family: "open-sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.work-info {
  margin: 2rem 0;
}

.work-info p {
  max-width: 500px;
  margin-bottom: 1rem;
}

.work-info a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--highlight-color);
  color: var(--highlight-color);

  border-radius: 10px;
}

.work-info a:hover {
  background-color: var(--highlight-color);
  color: var(--white-color);
}
.work-projects {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.work-projects article {
  position: relative;
  /* border: 2px solid var(--primary-color); */
  border: 2px solid #03369c;
  border-top: none;
  border-bottom: none;

  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
}

.work-overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "reenie beanie";
  font-size: 3.5rem;
  color: var(--white-color);
  background-color: rgba(80, 80, 81, 0.8);
  backdrop-filter: blur(3px);
}

figure:hover {
  cursor: pointer;
}

.work-projects h3 {
  color: var(--primary-color);
  font-weight: 700;
  margin: 3.5rem 0 0;

  padding: 0.25rem;
  border-bottom: 2px solid #e3e6fe;
}

.works-section article img {
  width: 100%;

  height: 15.625rem;
  object-fit: cover;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  margin-top: 3rem;
  padding: 1rem;

  background: var(--gradient);

  color: var(--white-color);
}

footer h2 {
  font-family: "Open sans", serif;
  font-size: 0.85rem;
}

footer a {
  padding: 0.5rem;
  filter: brightness(0) saturate(100%) invert(98%) sepia(12%) saturate(830%)
    hue-rotate(177deg) brightness(99%) contrast(92%);
}

footer img {
  width: 1.875rem;
}

/* media queries */

@media (min-width: 48rem) {
  /* header */

  .landing-section {
    justify-content: center;
  }
  .landing-arrow {
    width: 5rem;
  }

  /* main */

  /* about section */
  .about-section {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* gap: 10rem; */
  }

  .about-section h2 {
    font-size: clamp(3rem, 5vw, 4rem);
  }

  .about-section figure img {
    width: 20rem;
  }

  .about-info {
    align-items: flex-start;
  }

  /* works */

  .works-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    gap: 2rem;
  }

  .work-info h2 {
    font-size: clamp(3rem, 5vw, 4rem);
  }
  .work-projects article a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: flex-end;
  }

  .work-projects article:nth-of-type(even) a {
    display: flex;
    flex-direction: row-reverse;
  }

  .work-projects h3,
  .work-projects a img {
    min-width: 15rem;
    max-width: 20rem;
  }

  /* footer */
}
