/* root styles */
:root {
  --highlight-color: #013bed;
  --primary-color: #00041d;
  --secondary-color: #fff4e3;
}

body {
  font-family: "Open Sans", sans-serif;
}
/* header */

.nav-bar {
  border: 1px solid;
  width: max-content;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  gap: 2rem;
  padding: 1rem;
}
.nav-bar ul li {
  display: inline;
}

.nav-bar ul li:nth-child(3) {
  color: var(--highlight-color);
}
/* main */

/* footer */
